<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>About - ShefaFlow</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <header>
    <h1>About ShefaFlow</h1>
    <header>
  <h1>Welcome to ShefaFlow</h1>
  <nav class="nav-boxes">
    <a href="index.html">Home</a>
    <a href="about.html">About</a>
    <a href="services.html">Services</a>
    <a href="gallery.html">Gallery</a>
    <a href="contact.html">Contact</a>
  </nav>
</header>

  </header>

  <main>
    <h2>Know us!</h2>
    <p>ShefaFlow offers a one stop shop with all the answers. We offer:
      <ol>
        <li>Accepts any budget (ksh 100 to 1,000,000)</li>
        <li>Suggests local and global investment option</li>
        <li>Explains pros and cons of each option</li>
        <li>Connects users to trusted institutions</li>
        <li>Offers free access plus premium features</li>
      </ol>
    </p>
  </main>

  <footer>
    <p>&copy; 2025 ShefaFlow</p>
  </footer>
  <scripts src="scripts.js"></scripts>
</body>
</html>
