<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ShefaFlow - Home</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <header>
    <h1>Welcome to ShefaFlow</h1>
   <header>

  <nav class="nav-boxes">
    <a href="index.html">Home</a>
    <a href="about.html">About</a>
    <a href="services.html">Services</a>
    <a href="gallery.html">Gallery</a>
    <a href="contact.html">Contact</a>
  </nav>
</header>

  </header>

  <main>
    <h2>Empowering Flow, Empowering You</h2>
    <p>Financial information is scaterred, technical or biased. Small investors feel excluded, there are no tools for someone with 100, 200 or even 1,000 Kenyan shillings</p>
    <p>There are no platforms that offer personalised suggestions based on yor budget</p>
    <button onclick="showAlert()">Click Me</button>
  </main>

  <footer>
    <p>&copy; 2025 ShefaFlow</p>
  </footer>
  <scripts src="scripts.js"></scripts>
</body>
</html>





