<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Services - ShefaFlow</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <header>
    <h1>Our Services</h1>
    <header>
  <h1>Welcome to ShefaFlow</h1>
  <nav class="nav-boxes">
    <a href="index.html">Home</a>
    <a href="about.html">About</a>
    <a href="services.html">Services</a>
    <a href="gallery.html">Gallery</a>
    <a href="contact.html">Contact</a>
  </nav>
</header>

  </header>

  <div>
    <h2>What We Offer</h2>
    <ul>
      <li>One stop Shop for all your answers</li>
      <li>Comparison of different investment options</li>
      <li>Innovation Consulting</li>
      <li>Pros and cons for each option</li>
      <li>Access to trusted links from trusted institutions and providers</li>
    </ul>
  </div>

  <footer>
    <p>&copy; 2025 ShefaFlow</p>
  </footer>
  <scripts src="scripts.js"></scripts>
</body>
</html>
